{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% load thumbnail %}


    <div class="container">
<div class="row">
{% for category in categories %}
    {% if category.is_active is True %}
    <div class="col-3">

 <a  class="a-opasity-05" href={% url 'category' category.slug %}>
    <img id="myImg" class="card-img-top" src={{ category.category_icon.url }}>
    <div class="card-img-overlay card-text my_card-text ">
        <H2> {{ category.category_name }} </H2>

        <H2><span class="badge badge-black" style="">{{ category.newspost_set.count }} news</span></H2>

    </div>

 </a>


    <br><br>
    </div>
    {% endif %}
{% endfor %}
</div>
    </div>

{% endblock %}